*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.delete_order,
.refound_order{
    padding-bottom: max(1vw, 1em);
    form{
        input[type=submit] {
            background: #CA5252;
        }
    }
}
.sendOrderEmail{
    display: none;
}
.sendOrderEmail{
    padding: max(1vw, 1em);
    width: max(20vw, 20em);
    box-shadow: 0 max(-0.4vw, -0.4em) max(1vw, 1em) max(-0.7vw, -0.7em) #000;
    h1{
        font-size: max(1.5vw, 1.5em);
    }
    p{
        font-size: max(1vw, 1em);
        font-weight: bold;
        span{
            color: #7A7181;
            font-weight: 500;
        }
    }
    .select{
        display: flex;
        width: 50%;
        justify-content: space-between;
        select{
            font-size: max(0.7vw, 0.7em);
            width: max(5vw, 5em);
        }
    }
    form{
        margin-top: max(1vw, 1em);
        .fileManger{
            p{
                font-weight: 500;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                color: #FFF;
                padding: max(0.3vw, 0.3em);
                font-size: max(0.8vw, 0.8em);
            }
        }
        input{
            outline: none;
            border: none;
        }
        input[type=text]{
            display: block;
            font-size: max(1vw, 1em);
            padding: max(0.3vw, 0.3em) 0 max(0.5vw, 0.5em) max(0.3vw, 0.3em);
            border-radius: max(0.3vw, 0.3em);
            margin-bottom: max(1vw, 1em);
        }
        textarea{
            box-sizing: border-box;
            font-size: max(0.8vw, 0.8em);
            padding: max(0.3vw, 0.3em) 0 max(0.5vw, 0.5em) max(0.3vw, 0.3em);
            resize: none;
            outline: none;
            border: none;
            width: 80%;
            border-radius: max(0.5vw, 0.5em);
            height: max(8vw, 8em);
        }
        .ok{
            display: flex;
            flex-direction: row-reverse;
            input[type=submit]{
                &:hover{
                    background: #FFF;
                    color: #25c97d;
                }
                transition: 0.3s;
                cursor: pointer;
                background: #25c97d;
                border-radius: max(0.3vw, 0.3em);
                color: #FFF;
                padding: max(0.5vw, 0.5em);
                font-size: max(1vw, 1em);
                position: relative;
            }
        }
    }
}
.allCards{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: max(1.5vw, 1.5em);
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.orderCard{
    background: #36224A;
    position: relative;
    border-radius: max(1vw, 1em);
    padding: max(1vw, 1em);
    width: max(20vw, 20em);
    box-shadow: 0 max(-0.4vw, -0.4em) max(1vw, 1em) max(-0.7vw, -0.7em) #000;
    h1{
        font-size: max(1.5vw, 1.5em);
    }
    .dateTime{
        display: flex;
        flex-direction: column;
       align-items: flex-end;
       padding: max(0.5vw, 0.5em);
        position: absolute;
        top: 0;
        right: 0;
        .date, .time{
            font-size: max(0.9vw, 0.9em);
            font-weight: 500;
        }
    }
    .info{
        p{
            font-size: max(1vw, 1em);
            font-weight: bold;
            span{
                font-weight: 500;
                color: #7A7181;
            }
        }
        .select{
            display: flex;
            width: 50%;
            justify-content: space-between;
            select{
                font-size: max(0.7vw, 0.7em);
                width: max(5vw, 5em);
            }
        }
    }
    .buttons{
        
        display: flex;
        flex-direction: row-reverse;
        gap: max(1vw, 1em);
        margin-top: max(1vw, 1em);
        button:hover{
            background: #FFF;
            color: #000;
        }
        button{
            border-radius: max(0.3vw, 0.3em);
            outline: none;
            border: none;
            width: max(6va, 6em);
            padding: max(0.2vw, 0.2em) max(0.5vw, 0.5em);
            color: #FFF;
            cursor: pointer;
            transition: 0.3s;
            font-size: max(0.8vw, 0.8em)
        }
        ._1{
            background: #25c97d;
        }
        ._2{
            background: #CA5252;
        }
        ._3{
            background: #CA5252;
        }
    }
}

@media (max-width:800px) {
    .sendOrderEmail{
        width: 100%;
        box-sizing: border-box;
    }
}