.allUsers {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 50vh;
  padding: max(1vw, 1em) 0;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: max(1vw, 1em);
}
.allUsers .single_user {
  box-shadow: 0 max(-0.4vw, -0.4em) max(1vw, 1em) max(-0.7vw, -0.7em) #000;
  padding: max(1vw, 1em);
  font-size: max(2vw, 2em);
  border-radius: max(1vw, 1em);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.allUsers .single_user:hover {
  background: #FFF;
  color: #492967;
}

.delete_user {
  padding-bottom: max(1vw, 1em);
}
.delete_user form input[type=submit] {
  background: #CA5252;
}

.create_new_user_form, .update_user_form {
  background-color: #492967;
  scale: 0;
  transition: 0.3s;
  z-index: 4;
  box-shadow: 0 max(-0.4vw, -0.4em) max(1vw, 1em) max(-0.7vw, -0.7em) #000;
  padding: max(1vw, 1em);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: max(1vw, 1em);
}
.create_new_user_form h1, .update_user_form h1 {
  font-size: max(1.5vw, 1.5em);
  text-align: center;
}
.create_new_user_form form, .update_user_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create_new_user_form form input, .create_new_user_form form .showPassword, .create_new_user_form form .showPassword_update, .update_user_form form input, .update_user_form form .showPassword, .update_user_form form .showPassword_update {
  outline: none;
  border: none;
  margin: max(0.5vw, 0.5em);
  padding: max(0.5vw, 0.5em);
  border-radius: max(0.5vw, 0.5em);
}
.create_new_user_form form .username, .update_user_form form .username {
  font-size: max(1vw, 1em);
}
.create_new_user_form form .password, .update_user_form form .password {
  font-size: max(0.8vw, 0.8em);
}
.create_new_user_form form .buttons, .update_user_form form .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create_new_user_form form .buttons .showPassword:hover, .create_new_user_form form .buttons input[type=submit]:hover, .create_new_user_form form .buttons .showPassword_update:hover, .update_user_form form .buttons .showPassword:hover, .update_user_form form .buttons input[type=submit]:hover, .update_user_form form .buttons .showPassword_update:hover {
  background: #FFF;
  color: #000;
}
.create_new_user_form form .buttons .showPassword, .create_new_user_form form .buttons .showPassword_update, .update_user_form form .buttons .showPassword, .update_user_form form .buttons .showPassword_update {
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #CA5252;
  font-size: max(0.8vw, 0.8em);
}
.create_new_user_form form .buttons input[type=submit], .update_user_form form .buttons input[type=submit] {
  font-size: max(0.8vw, 0.8em);
  transition: 0.3s;
  cursor: pointer;
  background: #25c97d;
  color: #FFF;
}

.userManage {
  box-sizing: border-box;
  font-size: max(1vw, 1em);
  display: none;
}
.userManage p {
  font-weight: bold;
  margin: max(1vw, 1em) 0;
}
.userManage p span {
  font-weight: 500;
  color: #7A7181;
}
.userManage h2 {
  font-size: max(1.5vw, 1.5em);
}
.userManage .update {
  background: #25c97d;
}
.userManage .delete {
  background: #CA5252;
}
.userManage button {
  border: none;
  outline: none;
  color: #FFF;
  display: block;
  cursor: pointer;
  padding: max(0.5vw, 0.5em);
  margin: max(0.5vw, 0.5em) 0;
  font-size: max(1vw, 1em);
  border-radius: max(0.5vw, 0.5em);
  transition: 0.3s;
}
.userManage button:hover {
  background: #FFF;
  color: #492967;
}

.createUser {
  box-shadow: 0 max(-0.4vw, -0.4em) max(1vw, 1em) max(-0.7vw, -0.7em) #000;
  padding: max(1vw, 1em);
  font-size: max(1vw, 1em);
  border-radius: max(1vw, 1em);
  position: fixed;
  cursor: pointer;
  transition: 0.3s;
  right: 0;
  bottom: 0;
  background: #25c97d;
  color: #FFF;
  border: none;
  outline: none;
  margin: max(1vw, 1em);
}
.createUser:hover {
  background: #FFF;
  color: #25c97d;
}/*# sourceMappingURL=5_.css.map */