.services {
    position: relative;
    padding: max(6vw, 6em) max(1vw, 1em);


    &::after {
        position: absolute;
        content: "";
        background-color: #00ADB5;
        width: 215%;
        height: 126%;
        top: 20%;
        left: -88%;
        transform: rotate(342deg);
        z-index: -1;

        @media (max-width: 1375px) {
            & {
                top: 16%;
                height: 107%;
            }
        }

        @media (max-width: 910px) {
            & {
                top: 16%;
                height: 81%;
                transform: rotate(350deg);
            }
        }

        @media (max-width: 485px) {
            & {
                top: -5%;
                transform: rotate(340deg);
                width: 275%;
                height: 96%;
            }
        }

        @media (max-width: 1024px) {
            & {
                display: none;
            }
        }
    }

    @media (max-width: 1024px) {
        & {
            padding: max(6vw, 6em) 0;
        }
    }


    .container {

        .title {
            width: 100%;

            @media (max-width:384px) {
                & {
                    padding-left: 3%;
                }
            }

            h1 {
                font-size: max(5vw, 5em);
                color: white;

                @media (max-width:565px) {
                    & {
                        font-size: max(3vw, 3em)
                    }
                }

                @media (max-width:384px) {
                    & {
                        font-size: max(2vw, 2em)
                    }
                }

            }


            p {
                font-size: max(1vw, 1em);
                color: rgba(255, 255, 255, 0.96);
                width: 39%;
                padding: 0 0 max(3vw, 3em) max(2vw, 2em);

                @media (max-width: 1375px) {
                    & {
                        width: 49%;
                    }
                }

                @media (max-width: 1050px) {
                    & {
                        padding: 0 0 max(0vw, 0em) max(2vw, 2em);
                        width: 83%;
                    }
                }

                @media (max-width: 653px) {
                    & {
                        padding: 0;
                        width: 100%;
                        font-size: max(0.8vw, 0.8em);
                    }
                }

                @media (max-width:384px) {
                    & {
                        width: 90%;
                    }
                }
            }
        }

        .All_card {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;

            @media (max-width: 925px) {
                & {
                    justify-content: center;
                }
            }

            .flex-card {
                display: flex;

                @media (max-width: 1375px) {
                    & {
                        display: flex;
                        flex-direction: column;
                    }
                }

                @media (max-width: 925px) {
                    & {
                        display: flex;
                        flex-direction: row;
                        padding: max(2vw, 2em);
                    }
                }
                
                @media (max-width: 834px) {
                    & {
                    padding: max(2vw, 2em) 0;
                    }
                }

                @media (max-width: 815px) {
                    & {
                        display: flex;
                        flex-direction: row;
                    }
                }
                @media (max-width: 768px) {
                    & {
                        flex-direction: column;
                    }
                }

                @media (max-width: 412px) {
                    & {
                        padding: 0;
                    }
                }

                img {
                    width: max(10vw, 10em);
                    height: max(12vw, 12em);
                    position: absolute;
                    left: 36%;
                    z-index: 1;

                    @media (max-width: 1550px) {
                        & {
                            left: 27%;
                        }
                    }

                    @media (max-width: 1375px) {
                        & {
                            left: 50%;
                        }
                    }

                    @media (max-width: 926px) {
                        & {
                            display: none;
                        }
                    }
                }

                .box1 {
                    overflow: hidden;
                    position: relative;
                    border-radius: max(1vw, 1em);
                    margin-left: max(1vw, 1em);
                    background-color: #393E46;
                    width: max(24vw, 24em);
                    transition: 0.3s;

                    @media (max-width: 1375px) {
                        & {
                            margin: max(1vw, 1em);
                        }
                    }

                    @media (max-width:820px) {
                        & {
                            width: max(23vw, 23em);
                        }
                    }
                    @media (max-width:384px) {
                        & {
                            margin: 30px auto 0;
                            width: max(22vw, 22em);
                        }
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        background-image: url(/public/home/imgs/Vector\ 186.svg);
                        width: 43%;
                        height: 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        left: -215px;
                        top: -128px;
                        rotate: 254deg;
                        z-index: 0;


                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0);

                        &::before {
                            width: 100%;
                            height: 120%;
                            border-radius: max(1vw, 1em);
                            background-color: rgb(255, 255, 255);
                        }

                        h2 {
                            position: relative;
                            color: #00ADB5;
                            z-index: 1;
                        }

                        p {
                            position: relative;
                            color: #393E46;
                            z-index: 1;
                        }

                        .icon {

                            i {
                                color: #393E46;
                            }
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: rgba(255, 255, 255, 0.597);
                        box-shadow: 0 0 27px -6px black;
                        border-radius: max(50vw, 50em);
                        width: 0px;
                        height: 0px;
                        transition: ease-in 0.3s;
                        z-index: 0;
                    }


                    h2 {
                        font-size: max(2vw, 2em);
                        padding: max(1vw, 1em) max(1vw, 1em) 0;
                        color: #ffffff;
                        transition: ease-in-out .4s;

                    }

                    p {
                        font-size: max(0.8vw, 0.8em);
                        padding: max(1vw, 1em) max(2vw, 2em) 0;
                        color: #e8e8e8;
                        transition: ease-in-out .4s;
                    }

                    .icon {
                        text-align: right;
                        display: flex;
                        justify-content: end;

                        i {
                            position: relative;
                            z-index: 10;
                            color: #393e46;
                            background-color: #ffffff;
                            padding: max(0.3vw, 0.3em);
                            font-size: max(2vw, 2em);
                            border-radius: max(0.3vw, 0.3em) 0;
                            margin-top: max(1vw, 1em);
                            transition: ease-in-out .4s;
                        }
                    }
                }

                .box2 {
                    overflow: hidden;
                    position: relative;
                    border-radius: max(1vw, 1em);
                    background-color: white;
                    transition: .3s;
                    margin-left: max(2vw, 2em);
                    width: max(24vw, 24em);

                    @media (max-width: 1375px) {
                        & {
                            margin: max(1vw, 1em);
                        }
                    }
                    @media (max-width:820px) {
                        & {
                            width: max(23vw, 23em);
                        }
                    }

                    @media (max-width:384px) {
                        & {
                            margin: 30px auto 0;
                            width: max(22vw, 22em);
                        }
                    }

                    &:hover {
                        background-color: #393e4600;

                        &::before {
                            width: 100%;
                            height: 120%;
                            border-radius: max(1vw, 1em);
                            background-color: #393e46;
                        }

                        h2 {
                            position: relative;
                            color: #ffffff;
                            z-index: 1;
                        }

                        p {
                            position: relative;
                            color: #e7e7e7;
                            z-index: 1;
                        }

                        .icon {
                            i {
                                position: relative;
                                color: #ffffff;
                                z-index: 100;
                            }
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #393e467a;
                        box-shadow: 0 0 27px -6px black;
                        border-radius: max(50vw, 50em);
                        width: 0px;
                        height: 0px;
                        transition: ease-in 0.3s;
                        z-index: 0;
                    }

                    h2 {
                        font-size: max(2vw, 2em);
                        padding: max(1vw, 1em) max(1vw, 1em) 0;
                        color: #00ADB5;
                    }

                    p {
                        font-size: max(0.8vw, 0.8em);
                        padding: max(1vw, 1em) max(2vw, 2em) 0;
                        color: #393E46;
                    }

                    .icon {
                        text-align: right;
                        display: flex;
                        justify-content: end;

                        i {
                            position: relative;
                            color: white;
                            background-color: #393E46;
                            padding: max(0.3vw, 0.3em);
                            font-size: max(2vw, 2em);
                            border-radius: max(0.3vw, 0.3em) 0;
                            margin-top: max(1vw, 1em);
                            transition: .3s;
                            z-index: 10;
                        }
                    }
                }
            }


        }

        .postion {
            position: relative;

            img {
                position: absolute;
                width: max(32vw, 32em);
                animation: up-and-down 5s linear infinite;
                -webkit-animation: up-and-down 5s linear infinite;
                transition: all 0.3s;
                top: 0;
                z-index: 1;

                @media (max-width: 1375px) {
                    & {
                        width: 40%;
                        margin: max(0.3vw, 0.3em);
                        transform: translate(20%, -95%);
                    }
                }

                @media (max-width: 925px) {
                    & {
                        display: none;
                    }
                }
            }
        }
    }
}


/* Start animation */
@keyframes up-and-down {

    0%,
    50% {
        top: 0;
    }

    50% {
        top: -80px;
    }

    100% {
        top: 0;
    }
}



